<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TransparentNavgationBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>180EFD011C4CD4420016F2B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180EFD1D1C4CD4420016F2B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180EFD281C4CD4420016F2B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
